## EXPRESS SERVER RESULT
<!-- 
- Failed when port in use as expected.
- Failed test by using another endpoint @/user which doesn't exsist
- Passed end point @/
-->